<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProperty name="LOG_PATH"            source="logging.logback.path"/>
    <springProperty name="MAX_HISTORY"         source="logging.logback.rollingpolicy.max-history"/>
    <springProperty name="MAX_FILE_SIZE"       source="logging.logback.rollingpolicy.max-file-size"/>
    <property       name="FILE_NAME"	       value="ApiApplication" />
    <property       name="CONSOLE_PATTERN"     value="[%d{HH:mm:ss.SSS}] [%thread] %-5level-[%M] - %msg%n"/>
    <property       name="FILE_PATTERN"        value="[%d{YYYY-MM-dd HH:mm:ss}]-[%-5level]-[%M]-%msg%n"/>
    <property       name="SLACK_PATTERN"       value="[%d{yyyy-MM-dd HH:mm:ss}] - [%thread] %-5level - %msg%n"/>
    <springProperty name="SLACK_WEBHOOK_URI"   source="logging.slack.webhook-uri"/>

    <!-- Console Appender -->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_PATTERN}</pattern>
        </encoder>
    </appender>

    <!-- File Appender -->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/${FILE_NAME}.log</file>
        <!-- Rolling 정책 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}/${FILE_NAME}_%d{yyyyMMddHH}.log</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="slack" class="com.github.maricn.logback.SlackAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>${SLACK_PATTERN}</pattern>
        </layout>
        <webhookUri>${SLACK_WEBHOOK_URI}</webhookUri>
        <username>monitor</username>
        <iconEmoji>:stuck_out_tongue_winking_eye:</iconEmoji>
        <colorCoding>true</colorCoding>
    </appender>

    <root level="info">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

    <root level="error">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
        <appender-ref ref="slack" />
    </root>

</configuration>
